.prensa-container {
  width: 100%;
  display: flex;
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #ffffff;
}
.prensa-container01 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  position: relative;
  align-items: center;
  margin-left: 200px;
  justify-content: flex-start;
}
.prensa-text01 {
  padding-left: 20px;
  padding-right: 20px;
}
.prensa-text02 {
  color: var(--dl-color-backgrounds-primary);
  font-size: 18px;
  font-weight: 600;
  padding-top: 0 10px 0 10px;
  padding-bottom: 0 10px 0 10px;
}
.prensa-container02 {
  width: 100%;
  height: 414px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.prensa-container03 {
  flex: 0 0 auto;
  width: 80%;
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.prensa-container04 {
  width: 45%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.prensa-image {
  width: 80%;
  object-fit: cover;
}
.prensa-image01 {
  width: 150px;
  margin-top: 15px;
  object-fit: cover;
  margin-bottom: 15px;
}
.prensa-text03 {
  font-size: 18px;
  align-self: flex-start;
  margin-top: 20px;
  text-align: center;
  margin-bottom: 20px;
}
.prensa-text04 {
  font-size: 14px;
  margin-top: 20px;
  text-align: center;
  margin-bottom: 10px;
}
.prensa-button {
  margin-top: 10px;
  border-color: var(--dl-color-backgrounds-primary);
}
.prensa-container05 {
  width: 45%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.prensa-image02 {
  width: 80%;
  object-fit: cover;
}
.prensa-image03 {
  width: 150px;
  margin-top: 15px;
  object-fit: cover;
  margin-bottom: 15px;
}
.prensa-text05 {
  font-size: 18px;
  align-self: flex-start;
  margin-top: 20px;
  text-align: center;
  margin-bottom: 20px;
}
.prensa-text06 {
  font-size: 14px;
  margin-top: 20px;
  text-align: center;
  margin-bottom: 10px;
}
.prensa-button1 {
  margin-top: 10px;
  border-color: var(--dl-color-backgrounds-primary);
}
.prensa-container06 {
  width: 100%;
  height: 414px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.prensa-container07 {
  flex: 0 0 auto;
  width: 80%;
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.prensa-container08 {
  width: 45%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.prensa-image04 {
  width: 80%;
  object-fit: cover;
}
.prensa-image05 {
  width: 150px;
  margin-top: 15px;
  object-fit: cover;
  margin-bottom: 15px;
}
.prensa-text07 {
  font-size: 18px;
  align-self: flex-start;
  margin-top: 20px;
  text-align: center;
  margin-bottom: 20px;
}
.prensa-text08 {
  font-size: 14px;
  margin-top: 20px;
  text-align: center;
  margin-bottom: 10px;
}
.prensa-button2 {
  margin-top: 10px;
  border-color: var(--dl-color-backgrounds-primary);
}
.prensa-container09 {
  width: 45%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.prensa-image06 {
  width: 80%;
  object-fit: cover;
}
.prensa-image07 {
  width: 150px;
  margin-top: 15px;
  object-fit: cover;
  margin-bottom: 15px;
}
.prensa-text09 {
  font-size: 18px;
  align-self: flex-start;
  margin-top: 20px;
  text-align: center;
  margin-bottom: 20px;
}
.prensa-text10 {
  font-size: 14px;
  margin-top: 20px;
  text-align: center;
  margin-bottom: 10px;
}
.prensa-button3 {
  margin-top: 10px;
  border-color: var(--dl-color-backgrounds-primary);
}
.prensa-container10 {
  width: 100%;
  height: 414px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.prensa-container11 {
  flex: 0 0 auto;
  width: 80%;
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.prensa-container12 {
  width: 45%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.prensa-image08 {
  width: 80%;
  object-fit: cover;
}
.prensa-image09 {
  width: 150px;
  margin-top: 15px;
  object-fit: cover;
  margin-bottom: 15px;
}
.prensa-text11 {
  font-size: 18px;
  align-self: flex-start;
  margin-top: 20px;
  text-align: center;
  margin-bottom: 20px;
}
.prensa-text12 {
  font-size: 14px;
  margin-top: 20px;
  text-align: center;
  margin-bottom: 10px;
}
.prensa-button4 {
  margin-top: 10px;
  border-color: var(--dl-color-backgrounds-primary);
}
.prensa-container13 {
  width: 45%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.prensa-image10 {
  width: 80%;
  object-fit: cover;
}
.prensa-image11 {
  width: 150px;
  margin-top: 15px;
  object-fit: cover;
  margin-bottom: 15px;
}
.prensa-text13 {
  font-size: 18px;
  align-self: flex-start;
  margin-top: 20px;
  text-align: center;
  margin-bottom: 20px;
}
.prensa-text14 {
  font-size: 14px;
  margin-top: 20px;
  text-align: center;
  margin-bottom: 10px;
}
.prensa-button5 {
  margin-top: 10px;
  border-color: var(--dl-color-backgrounds-primary);
}
.prensa-main {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;
}
.prensa-container14 {
  flex: 0 0 auto;
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.prensa-footer {
  height: 330px;
  padding-top: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
}
.prensa-container15 {
  flex: 0 0 auto;
  width: 106px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.prensa-image12 {
  width: 100px;
  align-self: flex-start;
  object-fit: cover;
  padding-bottom: var(--dl-space-space-halfunit);
}
.prensa-container16 {
  flex: 0 0 auto;
  width: 783px;
  height: 126px;
  display: flex;
  align-self: center;
  align-items: center;
}
.prensa-link {
  display: contents;
}
.prensa-image13 {
  width: 250;
  padding: 20px;
  max-width: 250px;
  object-fit: cover;
  text-decoration: none;
}
.prensa-link1 {
  display: contents;
}
.prensa-image14 {
  width: 250;
  padding: 20px;
  max-width: 250px;
  object-fit: cover;
  text-decoration: none;
}
.prensa-link2 {
  display: contents;
}
.prensa-image15 {
  width: 250;
  padding: 20px;
  max-width: 250px;
  object-fit: cover;
  text-decoration: none;
}
.prensa-container17 {
  flex: 0 0 auto;
  width: 100%;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.prensa-link3 {
  display: contents;
}
.prensa-icon {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.prensa-link4 {
  display: contents;
}
.prensa-icon02 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.prensa-link5 {
  display: contents;
}
.prensa-icon04 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.prensa-link6 {
  display: contents;
}
.prensa-icon06 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.prensa-link7 {
  display: contents;
}
.prensa-icon08 {
  width: 24px;
  height: 24px;
  text-decoration: none;
}
.prensa-text15 {
  color: var(--dl-color-grays-gray100);
  margin: var(--dl-space-space-unit);
  max-width: 350px;
  align-self: center;
  text-align: center;
}
@media(max-width: 763px) {
  .prensa-container02 {
    height: auto;
  }
  .prensa-container03 {
    height: auto;
    flex-direction: column;
  }
  .prensa-container04 {
    width: 90%;
    margin: 30px 0;
  }
  .prensa-container05 {
    width: 90%;
    margin: 30px 0;
  }
  .prensa-container06 {
    height: auto;
  }
  .prensa-container07 {
    margin: 30px 0;
    flex-direction: column;
  }
  .prensa-container08 {
    width: 90%;
    margin: 30px 0;
  }
  .prensa-container09 {
    width: 90%;
    margin: 30px 0;
  }
  .prensa-container10 {
    height: auto;
  }
  .prensa-container11 {
    margin: 30px 0;
    flex-direction: column;
  }
  .prensa-container12 {
    width: 90%;
    margin: 30px 0;
  }
  .prensa-container13 {
    width: 90%;
    margin: 30px 0;
  }
  .prensa-footer {
    height: auto;
  }
  .prensa-container16 {
    height: auto;
    flex-direction: column;
  }
}
@media(max-width: 425px) {
  .prensa-container01 {
    width: 80%;
    margin: 0;
  }
  .prensa-container02 {
    width: 80%;
    height: 100%;
    margin: 90px 0;
    flex-direction: column;
  }
  .prensa-container03 {
    width: 100%;
    flex-direction: column;
  }
  .prensa-container04 {
    width: 100%;
  }
  .prensa-text03 {
    margin-bottom: 0;
  }
  .prensa-container05 {
    width: 100%;
  }
  .prensa-image02 {
    margin-top: 60px;
  }
  .prensa-text05 {
    width: 100%;
  }
  .prensa-container06 {
    width: 80%;
    height: 100%;
    margin: 50px 0;
    flex-direction: column;
  }
  .prensa-container07 {
    width: 100%;
    flex-direction: column;
  }
  .prensa-container08 {
    width: 100%;
  }
  .prensa-text07 {
    margin-bottom: 0;
  }
  .prensa-container09 {
    width: 100%;
  }
  .prensa-image06 {
    margin-top: 60px;
  }
  .prensa-text09 {
    width: 100%;
  }
  .prensa-container10 {
    width: 80%;
    height: 100%;
    flex-direction: column;
  }
  .prensa-container11 {
    width: 100%;
    flex-direction: column;
  }
  .prensa-container12 {
    width: 100%;
  }
  .prensa-text11 {
    margin-bottom: 0;
  }
  .prensa-container13 {
    width: 100%;
    margin-bottom: 50px;
  }
  .prensa-image10 {
    margin-top: 60px;
  }
  .prensa-text13 {
    width: 100%;
  }
  .prensa-container16 {
    width: 389px;
    height: 218px;
    flex-direction: column;
  }
  .prensa-image13 {
    width: 251px;
    display: inline-block;
    padding: 0;
  }
  .prensa-image14 {
    margin: 15px 0;
    display: inline-block;
    padding: 0;
  }
  .prensa-image15 {
    display: inline-block;
    padding: 0;
  }
  .prensa-container17 {
    width: 332px;
    height: 47px;
    margin-top: 10px;
  }
}
