.suitede-soluciones-container {
  width: 100%;
  display: flex;
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #ffffff;
}
.suitede-soluciones-container1 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.suitede-soluciones-main {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;
}
.suitede-soluciones-container2 {
  flex: 0 0 auto;
  width: 1007px;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.suitede-soluciones-image {
  width: 50%;
  margin: var(--dl-space-space-twounits);
  object-fit: cover;
  border-radius: 10px;
}
.suitede-soluciones-container3 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.suitede-soluciones-image01 {
  width: 15%;
  margin: var(--dl-space-space-halfunit);
  object-fit: cover;
  border-radius: 15px;
}
.suitede-soluciones-image02 {
  width: 15%;
  margin: var(--dl-space-space-halfunit);
  object-fit: cover;
  border-radius: 15px;
}
.suitede-soluciones-image03 {
  width: 15%;
  margin: var(--dl-space-space-halfunit);
  object-fit: cover;
  border-radius: 15px;
}
.suitede-soluciones-image04 {
  width: 15%;
  margin: var(--dl-space-space-halfunit);
  object-fit: cover;
  border-radius: 15px;
}
.suitede-soluciones-image05 {
  width: 15%;
  margin: var(--dl-space-space-halfunit);
  object-fit: cover;
  border-radius: 15px;
}
.suitede-soluciones-container4 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.suitede-soluciones-text {
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
}
.suitede-soluciones-container5 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.suitede-soluciones-image06 {
  width: 25%;
  object-fit: cover;
}
.suitede-soluciones-image07 {
  width: 25%;
  object-fit: cover;
}
.suitede-soluciones-image08 {
  width: 25%;
  object-fit: cover;
}
.suitede-soluciones-text01 {
  font-size: 40px;
}
.suitede-soluciones-container6 {
  flex: 0 0 auto;
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.suitede-soluciones-image09 {
  width: 80%;
  height: 389px;
  object-fit: contain;
}
.suitede-soluciones-image10 {
  width: 90%;
  height: 442px;
  margin: var(--dl-space-space-twounits);
  object-fit: contain;
}
.suitede-soluciones-text02 {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
}
.suitede-soluciones-container7 {
  width: 100%;
  height: 188px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.suitede-soluciones-text03 {
  text-align: center;
}
.suitede-soluciones-container8 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.suitede-soluciones-image11 {
  width: 90%;
  height: 495px;
  margin: var(--dl-space-space-unit);
  align-self: center;
  object-fit: contain;
}
.suitede-soluciones-image12 {
  width: 80%;
  height: 475px;
  margin-top: -30px;
  object-fit: contain;
}
.suitede-soluciones-text12 {
  margin-top: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unit);
}
@media(max-width: 991px) {
  .suitede-soluciones-text11 {
    margin-top: 40px;
  }
}
@media(max-width: 479px) {
  .suitede-soluciones-main {
    position: relative;
  }
  .suitede-soluciones-container2 {
    width: 318px;
    display: grid;
    padding: 0;
    grid-gap: 20px;
    margin-top: 120px;
    align-items: center;
    margin-right: 10px;
    grid-template-columns: repeat(2, 1fr);
  }
  .suitede-soluciones-container3 {
    display: flex;
  }
  .suitede-soluciones-text {
    text-align: center;
  }
  .suitede-soluciones-container5 {
    margin: 20px 0;
  }
  .suitede-soluciones-text01 {
    margin: 20px 0;
    text-align: center;
  }
  .suitede-soluciones-container7 {
    height: 81px;
  }
  .suitede-soluciones-text03 {
    padding: 0 20px;
    font-size: 10px;
  }
  .suitede-soluciones-image12 {
    height: 297px;
  }
  .suitede-soluciones-text11 {
    padding-left: 30px;
    padding-right: 30px;
  }
}
