.heading\ 2-container {
  width: 100%;
  height: 233px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.heading\ 2-container1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.heading\ 2-image {
  width: 60px;
  margin: 0 10px 0 0;
  display: inline-block;
  padding: 0;
  align-self: flex-start;
  object-fit: cover;
  margin-left: 100px;
  margin-right: 20px;
  vertical-align: initial;
}
.heading\ 2-container2 {
  flex: 0 0 auto;
  width: 942px;
  height: auto;
  display: flex;
  flex-direction: column;
}
.heading\ 2-text {
  width: 916px;
  font-size: 50px;
  align-self: flex-start;
  text-align: left;
  line-height: 50px;
}
.heading\ 2-text2 {
  color: var(--dl-color-backgrounds-primary);
}
.heading\ 2-text3 {
  margin-top: 10px;
}
.heading\ 2-root-class-name {
  background-color: #ffffff;
}

.heading\ 2-root-class-name2 {
  background-color: #ffffff;
}

@media(max-width: 991px) {
  .heading\ 2-text {
    font-size: 40px;
    line-height: 40px;
  }
}
@media(max-width: 767px) {
  .heading\ 2-text {
    margin-bottom: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .heading\ 2-image {
    width: 50px;
    margin: 20px;
  }
  .heading\ 2-container2 {
    width: 325px;
  }
  .heading\ 2-text {
    width: 328px;
  }
  .heading\ 2-text3 {
    width: auto;
  }
  .heading\ 2-root-class-name {
    align-self: center;
    margin-top: 100px;
  }
  .heading\ 2-root-class-name2 {
    width: 100%;
    margin-bottom: 400px;
  }
  .heading\ 2-root-class-name3 {
    margin-top: 90px;
  }
}
